$primary: #457373;
$secondary: #5A6868;
$success: #48bb8f;
$info: #205e79;
$warning: #9B8148;
$danger: #8d2100;
$light: #ced4da;
$dark: #102526;
$border-radius: 0.2rem;
$border-radius-lg: 0.2rem;

@import "bootstrap/scss/bootstrap";

body {
  color: $dark;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

a {
  text-decoration: none;
}

.cover-container {
  width: 100vw !important;
}

@media only screen and (min-width: 800px) {
  .cover-container {
    width: 800px !important;
  }
}

.custom-autocomplete-input {
  border-radius: $border-radius;
  border: 1px solid $light;
  height: 50px;
  line-height: 1.25;
}

.autocomplete-list {
  border: 1px solid $light !important;
}

.autocomplete {
  height: 3.25em !important;
  width: 100%;
}

.autocomplete:not(.hide-arrow):not(.is-loading)::after {
  border-color: $dark !important;
}

.autocomplete-list-item.confirmed {
  background-color: $dark !important;
}

.autocomplete-list-item.selected {
  background-color: $primary !important;
}
